h2 {
    margin-top:0 !important;
}


#real_world_example h2 {font-size: 0.8em;}
#gini_graphical_representation_before h2 {font-size: 0.8em;}
#gini_graphical_representation_after h2 {font-size: 0.8em;}
#gini_scalar h2 {font-size: 0.8em; margin-bottom:50px;}
#gini_scalar code.r {font-size: 1.2em; margin-bottom:0px;}
#norm_gini_scalar h2 {font-size: 0.8em; margin-bottom:50px;}
#norm_gini_scalar code.r {font-size: 1.2em; margin-bottom:0px;}
#what_is_scoring h2 {font-size: 0.8em;}
#scoring_the_takeaways h2 {font-size: 0.8em; margin-bottom:50px;}
#key_attributes_of_y h3 {font-size: 0.8em; margin-bottom:50px;}
#experimental_setup_1 h2 {font-size: 0.8em; margin-bottom:50px;}
#experimental_setup_2 h2 {font-size: 0.8em; margin-bottom:50px;}
#experimental_setup_3 h2 {font-size: 0.8em; margin-bottom:50px;}
#experimental_setup_3 code.r {font-size: 1.2em; margin-bottom:0px;}

#experiment_1 h2 {font-size: 0.8em; margin-bottom:50px;}
#experiment_2 h2 {font-size: 0.8em; margin-bottom:50px;}
#experiment_3 h2 {font-size: 0.8em; margin-bottom:50px;}


/*
.slideContent p sup, p a:link {
    color: red;
    font-size: 0.5em;
    vertical-align: middle;
}
*/

.reveal section blue {color: blue;}
.reveal section green {color: green;}
.reveal section red {color: red;}